@model EditPersonViewModel

<h1>Edit Person</h1>

<form asp-action="Update" asp-controller="People" method="post">
    <div class="row">
        <div class="col-4">
            <label asp-for="CreatePerson.FirstName"></label>
            <input asp-for="CreatePerson.FirstName" />
            <span asp-validation-for="CreatePerson.FirstName"></span>
        </div>
        <div class="col-4">
            <label asp-for="CreatePerson.LastName"></label>
            <input asp-for="CreatePerson.LastName" />
            <span asp-validation-for="CreatePerson.LastName"></span>
        </div>
    </div>

    <div class="row">

        <div class="col-4">
            <label asp-for="CreatePerson.CityId"></label>
            <select asp-for="CreatePerson.CityId">
                <option value="">No city</option>
                @foreach (var city in Model.CreatePerson.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="CreatePerson.CityId"></span>
        </div>
        <div class="col-4">
            <label asp-for="CreatePerson.PhoneNr"></label>
            <input type="tel" asp-for="CreatePerson.PhoneNr" />
            <span asp-validation-for="CreatePerson.PhoneNr"></span>
        </div>
    </div>
    <input type="reset" class="btn btn-secondary" value="Reset" />
    <button class="btn btn-primary">Update</button>
</form>

@*@if (Model.Person.PersonLanguages != null && Model.Person.PersonLanguages.Count != 0
     && Model.NotSpokenLanguages.Count != 0)
    {

    }*@
<h2>Update languages</h2>
<div class="row">
    <div class="col-4">
        <h4>Can speak</h4>
    </div>
    <div class="col-4">
        <h4>Don't speak</h4>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul>
            @if (Model.Person.PersonLanguages != null)
            {
                @foreach (var item in Model.Person.PersonLanguages)
                {
                    <li>
                        @item.Language.Name  @Html.ActionLink("Remove", "RemoveLanguageFromPerson", "People", new { pId = Model.Id, langId = item.LanguageId })
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-4">
        <ul>
            @foreach (var item in Model.NotSpokenLanguages)
            {
                <li>
                    @item.Name @Html.ActionLink("Add", "AddLanguageToPerson", "People", new { pId = Model.Id, langId = item.Id })
                </li>
            }
        </ul>
    </div>
</div>