@model ManagePersonLanguageViewModel
@{
    ViewData["Title"] = "Update Person Languages";
}

<h1>Update Languages for Person</h1>

<hr />
<h3>@Model.Person.FirstName @Model.Person.LastName</h3>

@if (Model.AllLanguages.Count > 0)
{
    <h5>Update persons languages</h5>
    <div class="row">
        <div class="col-4">
            <h4>Can speak</h4>
        </div>
        <div class="col-4">
            <h4>Don't speak</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <ul>
                @if (Model.Person.PersonLanguages != null)
                {
                    @foreach (var item in Model.Person.PersonLanguages)
                    {
                        <li>
                            @item.Language.Name  @Html.ActionLink("Remove", "RemoveLanguageFromPerson", "People", new { pId = Model.Person.Id, langId = item.LanguageId })
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-4">
            <ul>
                @foreach (var item in Model.NotSpokenLanguages)
                {
                    <li>
                        @item.Name @Html.ActionLink("Add", "AddLanguageToPerson", "People", new { pId = Model.Person.Id, langId = item.Id })
                    </li>
                }
            </ul>
        </div>
    </div>
    <a asp-controller="People" asp-action="Index" class="btn btn-info">Back to people</a>
}
else
{
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="container">
            <p>No languages created yet! Create languages before setting who can speak it.</p>
            <a asp-controller="Language" asp-action="Create" class="btn btn-info">Create language</a>
            <a asp-controller="People" asp-action="Index" class="btn btn-info">Back to people</a>
        </div>
    }
    else
    {
        <div class="container">
            <p>No languages defined yet! Ask the administrator of the system to assist with defining languages.</p>
            <a asp-controller="People" asp-action="Index" class="btn btn-info">Back to people</a>
        </div>
    }
}

