@model CreateCityViewModel

@{
    ViewData["Title"] = "Create City";
}

<h1>Create City</h1>

<hr />
@if (Model != null && Model.Countries != null && Model.Countries.Count != 0)
{
    <form asp-action="Create" method="post">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" />
        <span asp-validation-for="@Model.Name"></span>

        <label asp-for="NationId"></label>
        <select asp-for="NationId">
            @foreach (var item in Model.Countries)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="NationId"></span>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-info">Back to City List</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <div class="row">
        <p>Create one or more countries before creating a city!</p>
        <a asp-action="Index" class="btn btn-info">Back to City List</a>
        <a asp-action="Index" asp-controller="Country" class="btn btn-info">Country overview</a>
        <a asp-action="Create" asp-controller="Country" class="btn btn-primary">Create Country</a>
    </div>
}


